# Ignorar el archivo .env
av.env

# Ignorar node_modules (si usas Node.js)
node_modules/

# Ignorar archivos de configuración local
config.local.js

# Ignorar archivos de entorno de desarrollo
.env.development
.env.test

# Ignorar archivos generados por el sistema
.DS_Store
Thumbs.db

# Ignorar archivos de IDE
.idea/
.vscode/
# Ignorar archivos generados por npm
package-lock.json
# Ignorar archivos generados por npm
package.json